[submodule "hex-cellular-automata"]
	path = hex-cellular-automata
	url = git@github.com:NewAlexandria/data-science-learning.git
	branch = hex-cellular
  depth = 1
[submodule "hatch-automata"]
	path = hatch-automata
	url = https://github.com/kgolid/hatch-automata.git
[submodule "apollon"]
	path = apollon
	url = https://github.com/lsandig/apollon.git
[submodule "2021_10_07_Abstract_Art"]
	path = 2021_10_07_Abstract_Art
	url = https://github.com/nitzan-treg/2021_10_07_Abstract_Art.git
